body {
   background-color: #d6d6d6;
}

main h1 {
   margin: 20px 0 40px 0;
   text-align: center;
}

#cart {
   padding: 20px;
}

#cartItems {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.cart-item {
   display: grid;
   grid-template-columns: 8% 6fr 1fr;
   padding: 10px 20px;
   height: 110px;
   gap: 15px;
   background-color: #9d9d9d48;
   border-radius: 5px;
}

.cart-item div {
   max-height: 90px;
}

.cart-item img {
   max-width: 100%;
   max-height: 100%;
   border-radius: 5px;
}

.cart-item-details {
   flex: 1;
   margin-left: 10px;
}

.cart-item-actions {
   display: flex;
   align-items: center;
   gap: 10px;
}

.cart-item-actions input {
   width: 50px;
   border: none;
   outline: none;
   background-color: #a6a6a6;
   border-radius: 4px;
   padding: 5px;
   text-align: center;
   color: var(--fontColor);
}

.remove,
#checkoutButton {
   transition: background-color 0.3s ease;
   cursor: pointer;
   border-radius: 3px;
   color: var(--fontColor);
   border: none;
   background-color: #333;
   padding: 5px;
}

.remove:hover,
#checkoutButton:hover {
   background-color: #555;
}

#cartSummary {
   margin-top: 20px;
   text-align: right;
   margin-bottom: 20px;
}

#checkoutButton {
   padding: 10px;
   margin-top: 10px;
}
